@charset "utf-8";

// Vendor
@import "{wolves:bourbon}/bourbon";

$speed-long:   0.35s;
$speed-medium: 0.275s;
$speed-short:  0.2s;

// Base
* {
  &, &:before, &:after {
    box-sizing: border-box;
  }
}

html {
  height: 100%;
  width: 100%;
}

body {
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
  min-height: 100vh;
  font-family: 'Helvetica Neue', sans-serif;
}

a {
  text-decoration: none;
}

// Navigation
.navigation {
  width: 100%;
  z-index: 10;
  overflow: auto;

  .logo {
    display: inline-block;
    color: #fff;
    height: 4rem;
    width: 4rem;
    margin: 1rem;
    font-size: 3rem;
    font-weight: 200;
    line-height: 4rem;
    text-align: center;
    background: #000;
    @include transition($speed-short);

    &:hover {
      background-color: #444;
    }
  }
}

// Recipes
body, .recipes, .flickity-viewport, .recipe {
  @include flex-wrap(wrap);
  @include flex(1);
  @include display(flex);
  @include flex-direction(column);
}

.recipe {
  width: 100%;
  height: 100%;
  opacity: 0.6;
  max-width: 950px;
  background-color: #fff;
  @include transform(scale(0.95));
  @include transition($speed-long);
  @include justify-content(center);

  &.is-selected {
    z-index: 1;
    @include transform(none);

    &, h1, span {
      opacity: 1;
    }
  }

  &:not(.is-selected) {
    cursor: pointer;
  }

  .image {
    height: 400px;
    width: 100%;
  }

  h1, span {
    opacity: 0;
    padding: 0 1.5rem;
    @include transition($speed-long);
  }

  h1 {
    font-size: 3rem;
    font-weight: 400;
    margin: 1rem 0 0;
  }

  span {
    margin: 0;
    font-size: 1.5rem;
    font-weight: 200;
    color: #888;
    display: block;
  }
}

@media (max-width: 550px) {
  .recipe {
    margin-top: 0;
    @include transform(none);

    &, h1, span {
      opacity: 1;
      @include transition(none);
    }
  }
}
